html,
body {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scrollspy-example {
  position: relative;
  /* overflow: auto; */
  scroll-behavior: smooth;
}

.scrollspy-section {
  min-height: 300px; /* 調整可能 */
  padding-bottom: 1rem;
}

/* 共通：背景＝黄色、文字＝白 */
.page-link {
  background-color: #ffc107 !important; /* Bootstrapのwarning色 */
  color: #fff !important;
  border: none !important; /* デフォルトの枠線を消す */
}

/* ホバー時も同じ色に */
.page-link:hover {
  background-color: #e0a800 !important; /* 少し濃い黄色 */
  color: #fff !important;
}

/* 選択中（active）のページ */
.page-item.active .page-link {
  background-color: #c0c0c0 !important; /* 黒背景 */
  color: #fff !important; /* 白文字 */
  border: none !important; /* 青い枠を消す */
}

/* スマホ幅（768px未満）のときは active の背景色を無効化 */
@media (max-width: 767.98px) {
  #simple-list-example .nav-link.active,
  #simple-list-example .active {
    background-color: transparent !important; /* 背景色を消す */
    color: inherit !important; /* 文字色もデフォルトに戻す場合 */
  }
}

/* App.css に追加 */

#simple-list-example {
  background-color: var(
    --bs-secondary-bg-subtle
  ); /* Bootstrapのbg-secondary-subtle */
  border-radius: 10px;
  margin-bottom: 10px;
  color: #198754;
}
